body{
    background-color: #D9D9D9;
    margin:0;
    padding: 0;
}

.grid-container{
    grid-template-areas: 'nav nav'
                          'header header'
                          'section'
                          'footer footer'

}       

nav{
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 30px;
   
}

.navbar{
    text-decoration-color:  #609966;    
    text-decoration: none;
    margin: 20px;
    width: auto;

}

h1{
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    text-align: center;
    margin: 50px;
}

.container-text{
    margin: 5px;

}

img{
    height: 200px;
    width:500px;
    border-radius: 8px;
    margin: 10px;
}

.btn-primary{
    margin: 40px;
    

}

p{
    margin:10px;
    font-size: large;
    font-family: Cambria;
    
    
}

footer{
 background-color: #609966;
 position: static;
 width:100%;
 bottom: 0;
 grid-area: footer;
}
