body{
    background-color: #D9D9D9;
    margin:0;
    padding: 0;

}

header{
    font-size: xx-large;
    font-family: Baloo;
    text-align: center;
   
    

}


 .grid-container {
    display: grid;
  
  
 

  }

  section{
    background-color:  #609966; 
    text-align: center;
    padding: 20px;
  
}

.grid-item1{
float:left;
    

}

.grid-item2{
text-align: center;

    
}

.grid-item3{
float: right;
}
nav{
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 30px;
   
}

footer{
    background-color: cyan  ;
}

.navbar{
    text-decoration-color:  #609966;    
    text-decoration: none;
    margin: 20px;
    

}