body{
    background-color: #42f587;
    margin:0;
    padding: 0;
    width:100vw;
}

header{
    font-size: xx-large;
    font-family:'Georgia';
    text-align: center;
    font-style: italic;
   
    

}



 .grid-container {
    grid-template-areas: 'nav nav nav'
                        ' header header header'
                        ' section section section'
                        ' footer footer footer';
  
  
 

  }

  section{
    background-color:  #609966; 
    padding: 20px;
    grid-area: section;
}

img{
    height: 400px;
    width:800px;
    border-radius: 8px;
}

.col{
    display: flex;
    margin: 10px;
    grid-area: section;
    font-size: x-large;


}

.row{
    display: flex;
    grid-area: section;
    margin: 10px;
    padding: 10px;
}

.text2{
    margin: 10px;
    grid-area: section;
}

.text3{
    margin: 10px;
    display: flex;
    grid-area: section;
}

p{
    font-size: large;
    font-family: Cambria;
}


nav{
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 30px;
   
}

footer{
    background-color: #609966  ;
    align-items: center;
    margin: 20px;
    grid-area: footer;
    display: flex;
    font-size: larger;
}

.rubrik{
    text-align: center;
}

.rubrik1{
    text-align: center;
    margin: 20px;
    
}


.navbar{
    text-decoration-color:  #609966;    
    text-decoration: none;
    margin: 20px;
    overflow: hidden;

}

@media screen and (max-width: 600px) {}
    .navbar{
      float: none;
      width: 100%;
    }