body{
     background-color: #D9D9D9;
    margin:0;
    padding: 0;
}

.grid-container{
    grid-template-areas:    'nav nav nav'
                            'header header header'
                            'section section section'
                            'footer footer footer';

}

h1{
    display: flex;
    font-size: xx-large;
    margin: 50px;
    font-family: Georgia;

}

.container-text{
    margin: 5px;
    display: flex;

}

nav{
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 30px;
   
}

.navbar{
    text-decoration-color:  #609966;    
    text-decoration: none;
    margin: 20px;
    width: auto;

}

section{
    grid-area: section;
    display: flex;
    
}


img{
    height: 640px;  
    width: 960px;
    border-radius: 8px;
    margin: 10px;
}

p{
    margin:10px;
    grid-area: section;
    font-size: large;
    font-family: Georgia;

}
    

.footertext{
    text-align: center;
    margin: 10px;
    font-family: serif;
    align-items: center;
    padding: 2px;

    
}

.textemail{
    margin:5px;
    font-family: Arial;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
footer{
    background-color: #609966;
    position: static;
    width:100%;
    bottom: 0;  
    grid-area: footer;
    
    
    
   }





