body{
     background-color: #D9D9D9;
    margin:0;
    padding: 0;
}

.grid-container{
    grid-template-areas: 'nav nav'
                            'header'
                            'section section section'
                            'footer footer';

}

h1{
    display: flex;
    font-size: xx-large;
    margin: 50px;
    font-family: 'Luci'Lucida'
}

.container-text{
    margin: 5px;

}

nav{
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 30px;
   
}

.navbar{
    text-decoration-color:  #609966;    
    text-decoration: none;
    margin: 20px;
    width: auto;

}



img{
    height: 330px;  
    width: 110px;
    border-radius: 8px;
    margin: 10px;
}

p{
    margin:10px;
    grid-area: section;
    display: flex;
}


footer{
    background-color: #609966;
    position: static;
    width:100%;
    bottom: 0;
    grid-area: footer;
    
   }





